body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexibo {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 100%;
    padding-left: 10%;

}

.half-widt img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-color: brown;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;

}

.top-cool {
    background-image: url(fool/top-banner.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(fool/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experinace-i {
    box-shadow: 10px 10px 50px gray;
    width: 50%;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 15px;
    border-radius: 10px;
}

.experi {
    background-image: url(fool/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 8px solid tomato;
}

#junior {
    border-right: 8px solid blue;
}


.fut {
    text-align: center;
}